@charset "utf-8";
/*公共样式*/
/* Reset css*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  font-family: "microsoft yahei";
}
body,
button,
input,
select,
textarea {
  font-size: 14px;
  line-height: 1.5;
}
body {
  _overflow: auto;
  _height: 100%;
  margin: 0 auto;
}
html {
  _overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
small {
  font-size: 12px;
}
ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 14px;
  line-height: 1.5;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  color: #333;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  /*visibility:hidden;*/
}
/*a*/
a {
  text-decoration: none;
  color: #666;
}
a:hover {
  color: #666;
  text-decoration: none;
}


/*公共头部页面*/
.header {
  background-color: #fff;
  height: 100px;
  font-size: 16px;
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 21px;
}
.header .logoBox {
  margin-top: 14px;
  height: 100px;
  line-height: 100px;
  float: left;
}
.header .logoBox .logo {
  width: 116px;
  height: 65px;
  background: transparent url("../../img/LOGO.png") center no-repeat;
}
.header ul.headerNav,
.header ul.countNav {
  line-height: 100px;
}
.header ul.headerNav li.firstPage {
  margin-left: 20px;
}
.header ul.headerNav li {
  float: left;
  width: 95px;
  margin-right: 20px;
  text-align: center;
}
.header ul.headerNav li a {
  display: block;
  width: 95px;
  height: 100px;
  color: #666;
}
.header ul.headerNav li a.active,
.header ul.countNav li a.active {
  border-bottom: 4px solid #198bd4;
}
.header ul.headerNav li a:hover,
.header ul.countNav li a:hover {
  text-decoration:none;
}
.header ul.countNav {
  float: right;
  margin: 0;
}
.header ul.countNav li {
  float: left;
  margin-top: 32px;
}
.header ul.countNav li.searchFrame {
  margin-top: 40px;
  padding-right: 33px;
  border-right: 1px solid #c3c3c3;
}
.header ul.countNav li.accountFrame {
  padding-left: 28px;
}
.header ul.countNav li a {
  color: #666;
  display: block;
}
.header ul.countNav li a.searchBtn {
  width: 20px;
  height: 20px;
  background: transparent url("../../img/search.png") center no-repeat;
}
.header ul.countNav li a.account {
  width: 37px;
  height: 37px;
  background: transparent url("../../img/account.png") center no-repeat;
}

/*版权部分*/
.copyright {
  text-align: center;
  background-color: #ecedee;
}
.copyright span {
  display: block;
  margin-bottom: 8px;
  color: #bdc3c7;
}